In [1]:
##################################################################
####### Crash Course Review Exercises 
#########################################################

#########################################################
# Complete the tasks numbered below.
# If you get stuck, check out the solution video!
#######################################################

#######
# TASK 1: Import pandas and numpy
######
import pandas as pd
import numpy as np


#######
# TASK 2: Set Numpy's random number generator seed to 101
######
np.random.seed(101)


#######
# TASK 3: Create a NumPy Matrix of 100 rows by 5 columns consisting of
#         random integers from 1-100. (Keep in mind that the upper
#         limit may be exclusive.)
######
nparr = np.random.randint(1,101,(100,5))
#print(nparr)

#######
# TASK 4: Now use pd.DataFrame() to read in this numpy array as a dataframe.
#         Simple pass in the numpy array into that function to get back a
#         dataframe. Pandas will auto label the columns to 0-4
######
df = pd.DataFrame(nparr)
df

#######
# TASK 5: Using your previously created DataFrame, use [df.columns = [...]]
#         (https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas)
#         to rename the pandas columns to be ['f1','f2','f3','f4','label'].
######
df.columns = ['f1','f2','f3','f4','label']
df

#######
# TASK 6: Alright, all the other tasks were hopefully straightforward.
#         This final task will allow you to quickly check to see if you are at
#         the right level with pandas! Do the following:
#         Create a dataframe with the columns ['A','B','C','D'] with each column
#         having 50 rows of random numbers for data. The random numbers should be
#         between 0 and 100. (Hint: Use numpy to create the numbers, then pass
#         it in to pd.DataFrame(), check out the data= and index= parameters
#         for that call.)
nuar = np.random.randint(1,101,(50,4))
dfMtrx = pd.DataFrame(nuar,columns=['A','B','C','D'])
dfMtrx

      A   B   C   D
0    16  96  92  20
1    70   2  78  64
2    88  29  71   6
3     4  13  63  27
4    97  62  88  75
5   100  98  65  96
6     4  89  60  39
7    30  32  89  58
8    10  63  32  14
9    36  48   3  18
10   51  23  31  37
11   23  98  52  39
12   29   5   1  13
13   91   3   8  45
14   55  50  77  99
15    4  33  92  44
16    8  43  67  10
17    6  27  67  23
18   48  28  47  15
19   53  75  55   4
20   95  37  64  42
21   19  38  46  83
22   48  67  98  21
23   10  88  41  14
24   96  17  39  88
25   73  61  79  54
26   49  84  91  42
27   85  79  56  71
28   94  58  87  68
29    9  48  71  40
30   54   6  41  89
31   59  13  71   6
32   83   9  61  59
33   46  93  86  45
34   63  40  39  55
35   99  81  94  17
36   38  59  41  73
37   73  23  43  39
38   46  17  53  18
39   23  16  19  38
40   49   3   3  32
41   51  79  71  41
42   61  63  70  35
43   96  59   5  71
44   21  19  67  24
45   88  46  65   7
46   40  30  61  34
47   19  60  65  60
48   66  11  87  67
49   39  77  98  80